<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Final_Backend.Properties.Settings.masterConnectionString"
            connectionString="Data Source=CompuSebas\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto_Final_Backend.Properties.Settings.PROYECTOWEBConnectionString"
            connectionString="Data Source=CompuSebas\SQLEXPRESS;Initial Catalog=PROYECTOWEB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto_Final_Backend.Properties.Settings.PROYECTOWEBFINALV2ConnectionString"
            connectionString="Data Source=CompuSebas\SQLEXPRESS;Initial Catalog=PROYECTOWEBFINALV2;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
